@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Para ocupar a altura total da janela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: purple; /* Cor de fundo suave */
}

.container {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
    width: 100%; /* Largura total */
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaço abaixo do formulário */
    width: 300px; /* Largura fixa para o formulário */
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Botão ocupa toda a largura do formulário */
    font-family: 'Rokkitt', serif;
}

button:hover {
    background-color: #218838;
}

.link {
    color: #007bff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-top: 10px; /* Espaço acima do link */
}

.link:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
